@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');

* {
    text-decoration: none;
}

html {
    color:white;
    font-size: 14pt;
    font-family: 'Yaldevi', sans-serif;
}

body {
    background: white;
}

img#logo {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    font-size: 20pt;
}

nav h1 {
    font-size:14pt;
    font-family: 'Yaldevi', sans-serif;
}

nav a {
    font-size:14pt;
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    outline: 1px solid black;

    color:#acb4bd;
    cursor: pointer;
}

nav a:hover {
    background-color: rgb(221, 221, 223);
    color:rgb(107, 107, 109);
    transition: .5s;
}

div {
    padding: inherit;
    background: #41454b;
    border-radius: 1em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}
