@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Yaldevi:wght@200&display=swap');

* {
    text-decoration: none;
}

html {
    font-size: 14pt;
}

body {
    background: #41454b;
}

nav {
    font-size: 20pt;
}

nav h1 {
    font-size:14pt;
    font-family: 'Yaldevi', sans-serif;
}

nav a {
    font-size:14pt;
    font-family: 'Roboto Mono', monospace;
    padding: 5px;
    outline: 1px solid black;

    color:#6c7075;
    cursor: pointer;
}

nav a:hover {
    background-color: rgb(221, 221, 223);
    transition: .5s;
}

section {
    font-family: 'Yaldevi', sans-serif;
    padding: inherit;
    background: white;
    border-radius: 1em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}

section#sobre-mim img {
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}

section#artes {
    font-size: 20pt;
    padding: inherit;
    border-radius: 1em;
    border:1rem solid transparent;
    margin: 1rem;
}

section#artes table {
    margin: auto;
    align-items: center;
}

section#artes img {
    transition:.5s;
    height: 300px;
    border: 100px;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}

section#artes img:hover{
    height:400px;
    transition:.5s;
}

div {
    padding: inherit;
    background: white;
    border-radius: 1em;
    border: 1rem solid transparent;
    margin: 1rem;
    box-shadow: 1px 1px 10px 5px rgba(0,0,0,0.2);
}

footer table{
    margin: auto;
}